# SPDX-FileCopyrightText: 2023 The HedgeDoc developers (see AUTHORS file)
# SPDX-License-Identifier: AGPL-3.0-only
---
services:
  backend:
    build:
      context: ..
      dockerfile: backend/docker/Dockerfile
    volumes:
      - ./.env:/usr/src/app/backend/.env
      - hedgedoc_uploads:/usr/src/app/backend/uploads

  frontend:
    build:
      context: ..
      dockerfile: frontend/docker/Dockerfile
    environment:
      HD_BASE_URL: "${HD_BASE_URL}"
      HD_INTERNAL_API_URL: "http://backend:3000/"

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: "${HD_DATABASE_USERNAME}"
      POSTGRES_PASSWORD: "${HD_DATABASE_PASSWORD}"
      POSTGRES_DB: "${HD_DATABASE_NAME}"
    volumes:
      - hedgedoc_db:/var/lib/postgresql/data

  proxy:
    image: caddy:latest
    restart: unless-stopped
    environment:
      HD_BASE_URL: "${HD_BASE_URL}"
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data

volumes:
  hedgedoc_db:
  hedgedoc_uploads:
  caddy_data:
